<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/Admin/style/admin.css">
    <meta charset="UTF-8">
    <title>博客后台管理</title>
</head>
<body>
{include file='Public/header' /}
<div id="container">
    {include file='Public/left' /}
    <div id="content">
        <div id="top">
            <a href=" {:url('Index/index')}"><i class="icon-font">  </i>首页</a>><a href="{:url('Tags/index')}">标签管理</a>>
            <span>添加标签
        </span>
        </div>
        <form action="{:url('Tags/add')}" method="post">
            <table class="add" border="1">
                <tr>
                    <th>
                        <i class="require-red">* </i>标签名称：
                    </th>
                    <td>
                        <input class="text" type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <th>
                    </th>
                    <td>
                        <input class="submit" type="submit" value="提交">
                        <input class="return" onclick="history.go(-1)" value="返回" type="button">
                    </td>
                </tr>
            </table>
        </form>

    </div>

</div>
</body>
</html>