<dl class="function" id="divMisc">
    <dt class="function_t">分享到：</dt>
    <dd class="function_c">
        <ul>
            <li>
                <img src="__PUBLIC__/static/Index/images/weixin.jpg" height="110" width="110" border="0" alt="微信公众平台" title="微信扫一扫，关注圈圈的最新消息。" />
            </li>
            <li><!-- Baidu Button BEGIN -->
                <div class="bdsharebuttonbox" data-tag="share_1">
                    <a class="bds_mshare" data-cmd="mshare"></a>
                    <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                    <a class="bds_tsina" data-cmd="tsina"></a>
                    <a class="bds_baidu" data-cmd="baidu"></a>
                    <a class="bds_renren" data-cmd="renren"></a>
                    <a class="bds_tqq" data-cmd="tqq"></a>
                    <a class="bds_more" data-cmd="more">更多</a>
                    <a class="bds_count" data-cmd="count"></a>
                </div>
                <script>
                    window._bd_share_config = {
                        common : {
                            bdText : '哈哈哈哈',
                            bdDesc : '哈哈哈哈',
                            bdUrl : '哈哈哈',
                            bdPic : '哈哈哈'
                        },
                        share : [{
                            "bdSize" : 16
                        }],
                        slide : [{
                            bdImg : 0,
                            bdPos : "right",
                            bdTop : 100
                        }],
                        image : [{
                            viewType : 'list',
                            viewPos : 'top',
                            viewColor : 'black',
                            viewSize : '16',
                            viewList : ['qzone','tsina','huaban','tqq','renren']
                        }],
                        selectShare : [{
                            "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
                        }]
                    }
                    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
                </script>
            </li>
            <li>
                <a href="" target="_blank"><img src="__PUBLIC__/static/Index/images/rss.png" height="31" width="88" border="0" alt="订阅本站的 RSS 2.0 新闻聚合" /></a>
            </li>
        </ul>
    </dd>
</dl>