???<% include header.ejs %>
<div class="container">
    <div class="page-header">
        <h1 align="center">博主个人主页 </h1>
    </div>
</div>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-3">
            <div class="row" align="center">
                <ul class="list-group">
                    <li class="list-group-item active"><strong>个人简介</strong></li>
                    <li class="list-group-item"><img src="/images/people.jpg"  alt="头像" width="100%" /><br/><span>博主</span></li>
                    <li class="list-group-item">
                        <h4>联系我</h4>
                        <h4><span class="label label-info"><a href="#" style="color:white">微博</a></span></h4><br/>
                        <h4><span class="label label-success"><a href="#" style="color:white">QQ</a></span></h4><br/>
                        <h4><span class="label label-warning"><a href="#" style="color:white">Wechat</a></span></h4>
                    </li>
                    <li class="list-group-item"><strong>总博文</strong><span class="badge"><a href="index.html" style="color:white">999+</a></span></li>
                    <li class="list-group-item"><strong>最新博文</strong><span class="badge"><a href="index.html" style="color:white">99+</a></span></li>
                    <li class="list-group-item">待定</li>
                    <li class="list-group-item">待定</li>
                    <li class="list-group-item">待定</li>
                </ul>
            </div>        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-9 sidebar-offcanvas">
            <div class="list-group">
                <li class="list-group-item active">个人资料</li>
                <li class="list-group-item">姓名:</li>
                <li class="list-group-item">生日:</li>
                <li class="list-group-item"><span>个人经历:<br/><br/><br/><br/><br/><br/><br/><br/></span></li>
                <li class="list-group-item"><span>个人简介:<br/><br/><br/><br/><br/><br/><br/><br/></span></li>
                <li class="list-group-item">待定</li>
                <li class="list-group-item">待定</li>
                <li class="list-group-item">待定</li>
                <li class="list-group-item">待定</li>
                <li class="list-group-item">待定</li>
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->

<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<% include footer.ejs %>