<div class="toolbar">
    <a href="javascript:" class="toolbar-item">
        <span class="tool-btn">
            <i class="toolbar-icon icon-wechat"></i>
            <span class="toolbar-text">wechat<br />账号</span>
        </span>
        <span class="toolbar-layer toolbar-layer-wechat"></span>
    </a>

    <a href="javascript:" class="toolbar-item">
        <span class="tool-btn">
            <i class="toolbar-icon icon-chat"></i>
            <span class="toolbar-text">意见<br />反馈</span>
        </span>
    </a>

    <a href="javascript:" class="toolbar-item" id="backTop">
        <span class="tool-btn">
            <i class="toolbar-icon icon-move-up"></i>
            <span class="toolbar-text">返回<br />顶部</span>
        </span>
    </a>
</div>
