<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/Admin/style/admin.css">
    <meta charset="UTF-8">
    <title>博客后台管理</title>
</head>
<body>
{include file='Public/header' /}
<div id="container">
    {include file='Public/left' /}
    <div id="content">
        <div id="top">
            <a href=" {:url('Index/index')}"><i class="icon-font">  </i>首页</a>><a href="{:url('User/index')}">管理员</a>>
            <span>添加管理员
        </span>
        </div>
        <form action="{:url('User/edit')}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{$user.id}">
            <table class="add" border="1"  >
                <tr>
                    <th>
                        用户名：
                    </th>
                    <td>
                        {$user.username}
                    </td>
                </tr>
                <tr>
                    <th>
                        密码：
                    </th>
                    <td>
                        <input class="text" type="password" name="password" > 不填则不修改
                    </td>
                </tr>
                <tr>
                    <th>

                    </th>
                    <td>
                        <input class="submit" type="submit" value="提交">
                        <input class="return" onclick="history.go(-1)" value="返回" type="button">
                    </td>
                </tr>
            </table>
        </form>

    </div>

</div>
</body>
</html>