<div id="left">
    <h1 id="menu">菜单</h1>
    <ul class="sidebar-list">
        <li><a href=""><i class="icon-font">&#xe003;</i>基础操作</a>
            <ul class="sub-menu">
                <li ><a href="{:url('Cate/index') }"><i class="icon-font">&#xe006;</i>栏目管理</a></li>
                <li  ><a href="{:url('Article/index') }"><i class="icon-font">&#xe005;</i>文章管理</a></li>
                <li><a href="{:url('Link/index') }"><i class="icon-font">&#xe052;</i>友情链接</a></li>
                <li><a href="{:url('Tags/index') }"><i class="icon-font">&#xe008;</i>标签管理</a></li>
                <li><a href="{:url('Massage/index') }"><i class="icon-font">&#xe004;</i>留言管理</a></li>
            </ul>
        </li>
        <li><a href=""><i class="icon-font">&#xe018;</i>系统操作</a>
            <ul class="sub-menu">
                <li><a href="{:url('User/index') }"><i class="icon-font">&#xe017;</i>管理员</a></li>
            </ul>
        </li>
    </ul>
</div>