<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/Admin/style/admin.css">
    <meta charset="UTF-8">
    <title>博客后台管理</title>
</head>
<body>
{include file='Public/header' /}
<div id="container">
    {include file='Public/left' /}
    <div id="content">
        <div id="top">
            <a href=" {:url('Index/index')}"><i class="icon-font">  </i>首页</a>><a href="{:url('Cate/index')}">栏目管理</a>>
            <span>修改栏目
        </span>
        </div>
        <form action="{:url('Cate/edit')}" method="post">
            <table class="add" border="1">
                <input type="hidden" name="id" value="{$cate.id}">
                <tr>
                    <th>
                        栏目名称：
                    </th>
                    <td>
                        <input class="text" type="text" name="catename" value="{$cate.catename}">
                    </td>
                </tr>
                <tr>
                    <th>
                        关键词：
                    </th>
                    <td>
                        <input class="text" type="text" name="keyword" value="{$cate.catename}">
                    </td>
                </tr>
                <tr>
                    <th>
                        栏目类型：
                    </th>
                    <td>
                        <input type="checkbox" name="type" value="1" {if condition="$cate.type eq 1"} checked="checked"{/if} >留言板
                    </td>
                </tr>
                <tr>
                    <th>
                        内容：
                    </th>
                    <td>
                        <textarea class="textarea" name="desc" rows="10" cols="30" >{$cate.catename}</textarea>
                    </td>
                </tr>
                <tr>
                    <th>

                    </th>
                    <td>
                        <input class="submit" type="submit" value="提交">
                        <input class="return" onclick="history.go(-1)" value="返回" type="button">
                    </td>
                </tr>
            </table>
        </form>

    </div>

</div>
</body>
</html>