<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Language" content="zh-CN" />
	
	<link rel="stylesheet" rev="stylesheet" href="__PUBLIC__/static/Index/style/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<script src="__PUBLIC__/static/Index/style/common.js" type="text/javascript"></script>
	<script src="__PUBLIC__/static/Index/style/c_html_js_add.js" type="text/javascript"></script>
	<script src="__PUBLIC__/static/Index/style/custom.js" type="text/javascript"></script>
	<link rel="alternate" type="application/rss+xml" href="__PUBLIC__/static/Index/style/feed.css" title="梦的发源地 " />
</head>
<body class="multi default">
<div id="divAll">
	<div id="divPage">
		<div id="divMiddle">
			{include file="Public/header" /}
			<div id="divMain">
				{volist name="articleres" id='vd'}
				<div class="post multi-post cate2 auth1">
					<h4 class="post-date">{$vd.time|date="Y年m月d日",###}</h4>
					<h2 class="post-title"><a href={:url("Article/index",array('articleid'=>$vd.id))}>{$vd.title}</a></h2>
					<div class="post-body"><p>{$vd.desc}</p>
						{if condition="$vd.pic"}
						<p style="text-indent: 0em;"><a target="_self" href="{:url("Article/index",array('articleid'=>$vd.id))}"><img src="__PUBLIC__/{$vd.pic}" title="你我网" alt="你我网"/></a></p>
						{/if}
					</div>
					<h5 class="post-tags">Tags: <span class="tags">
						<?php
							$arr=explode('，',$vd['keyword']);
							foreach($arr as $k=>$v){
								echo "<a href=".url('Tags/index',array('keyword'=>$v)).">$v</a>&nbsp;";
							}
						?>
					</span></h5>
					<h6 class="post-footer">
						发布:清风 | 分类:{$vd.catename} | 评论: <?php $num=0; foreach($massage as $v){if($v['modu']==$vd['id'])$num++;} foreach($to_masg as $v){if($v['modu']==$vd['id'])$num++;} echo $num; ?> | 浏览:<span >{$vd.click}</span>
						<script type="text/javascript">LoadViewCount(76)</script> | <a href={:url("Article/index",array('articleid'=>$vd.id))}>阅读全文 > </a>
					</h6>
				</div>
				{/volist}
				<div class="post pagebar">
					{$articleres->render()}
				</div>
			</div>
			<div id="divSidebar">
                {if condition="session('name')"}
                {include file="Public/self" /}
                {else}
                {include file="Public/login" /}
                {/if}
				{include file="Public/search" /}
				{include file="Public/tags" /}
				{include file="Public/massage" /}
				{include file="Public/link" /}
				{include file="Public/share" /}

			</div>
			{include file="Public/bottom" /}
		</div>
	</div>
</div>
<!-- dd BEGIN -->
<script language="JavaScript1.2">
    var typ=["marginTop","marginLeft"],rangeN=10,timeout=0;
    function shake(o,end){
        var range=Math.floor(Math.random()*rangeN);
        var typN=Math.floor(Math.random()*typ.length);
        o["style"][typ[typN]]=""+range+"px";
        var shakeTimer=setTimeout(function(){shake(o,end)},timeout);
        o[end]=function(){clearTimeout(shakeTimer)};
    }
</script>
<!-- dd END -->
</body>
</html><!-- 16ms -->